
<ons-list class="menu-list black-bg">
  <ons-list-item modifier="chevron"  class="menu-item" ng-click="menu.setMainPage('welcome.html', {closeMenu: true});">
    <ons-icon icon="fa-home" fixed-width="true"></ons-icon>
    Home
  </ons-list-item>
  <ons-list-item modifier="chevron"  class="menu-item" ng-click="menu.setMainPage('licenseTracker.html', {closeMenu: true});">
    <ons-icon icon="ion-map" fixed-width="true"></ons-icon>
    License Tracker
  </ons-list-item>
  <ons-list-item modifier="chevron"  class="menu-item" ng-click="menu.setMainPage('near.html', {closeMenu: true});">
    <ons-icon icon="ion-location" fixed-width="true"></ons-icon>
    Continuing Education
  </ons-list-item>
  <ons-list-item modifier="chevron"  class="menu-item" ng-click="menu.setMainPage('examPrep.html', {closeMenu: true});">
    <ons-icon icon="ion-location" fixed-width="true"></ons-icon>
    License Exam Prep
  </ons-list-item>
  <ons-list-item modifier="chevron"  class="menu-item" ng-click="menu.setMainPage('junctionBox.html', {closeMenu: true});">
    <ons-icon icon="ion-location" fixed-width="true"></ons-icon>
    Junction Box Blog
  </ons-list-item>
</ons-list>
